.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: solid 1px grey;
  border-radius: 10px;
}
h1 {
  margin: 20px 0 10px;
  line-height: 29px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}
li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
